.table {
    width: 100%;
    border-collapse: collapse;
    max-height: 50px; /* 표의 최대 높이를 설정하세요. */
    overflow-y: auto; /* 수직 스크롤이 표시되도록 합니다. */
}

.table th, .table td {
    border: 1px solid gray;
    text-align: center;
    color: black;
    font-size: small;
}

.tableContainer {
    width: 100%;
    max-height: 100px; /* 표의 최대 높이를 설정하세요. */
    overflow-y: auto; 
}
