.OutsourcingContainer {
    width: 100%;
}

.OutsourcingTitleBar {
    width: 100%;
    display: flex;
    align-items: center;
}

.ComIconPng {
    width: 3%;
    margin-right: 1%;
}

.OutsourcingTitleText {
    color: black;
}

.OutsourcingButtonGroup {
    width: 30%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.SelectBoxGroup1 {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}

.SelectBoxGroup2 {
    margin-top: 1%;
    margin-bottom: 2%;
    display: flex;
}

.FactoryTitle,
.OutsourcingTitle,
.ProductListTitle,
.ProcurementTitle,
.UserIdTitle {
    color: black;
    font-size: 0.82rem;
    margin-right: 2%;
}

.OutsourcingInputContainer,
.FactoryContainer,
.ProductListContainer {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProcurementContainer {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.UserIdContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AddDelBtnGroup {
    display: flex;
    margin: 1% 0;
}

.AddBtn {
    margin-left: auto;
    margin-right: 1%;
}

button {
    cursor: pointer;
}